@using cloudyweb.Models;
@model Page

@{
    Layout = "_Layout";
}

<div class="mt-5"></div>
<div class="container" style="max-width: 720px;">
    <h2 class="mb-4">@Model.Name</h2>
    @Html.Raw(Model.MainBody)
</div>